<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= strip_tags(product.description) %>
  </p>

  <p class="px-2 py-3">
    <strong>Image:</strong>
    <%= image_tag(product.image_url, class: "w-40") %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price) %>
  </p>

</div>
