<p style="color: green"><%= notice %></p>

<%= render @product %>

<div class="my-5">
  <%= link_to "Edit this product", edit_product_path(@product), class: "rounded-lg py-3 px-5 my-3 bg-blue-600 text-white font-medium" %>
  <%= link_to "Back to products", products_path, class: "rounded-lg py-3 px-5 my-3 bg-blue-600 text-white font-medium" %>

  <%= button_to "Destroy this product", @product, method: :delete, class: "rounded-lg py-3 px-5 my-5 bg-red-600 text-white font-medium" %>
</div>
